[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax = "*"
dm-haiku = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
jupyter = "*"
sacred = "*"
plotly = "*"
pymongo = "*"
numpyro = "*"
kaleido = "*"

[dev-packages]

[requires]
python_version = "3.9"
